#china {
    fill: green;
}
#mexico {
    fill: green;
}
#jordan{
    fill: green;
}
#peru{
    fill: green;
}
#brazil{
    fill: green;
}
#italy{
    fill: green;
}
#india{
    fill: green;
}

.navbar-brand {
    font-family: Permanent Marker, Trebuchet MS;
    color: green;
}